{	
	"y": "bzi8FV6aDp870moRHeiHOd45ehlYiKAZupaAoPYKcXsJy/igvNN9PgiJCL0aJ9hwJQn7aLMenGNUOg0Fw2lSwQ==",
	"max_challenge_age": "3",
	"user_name": "<user-name>",
	"command_unlock": "/usr/bin/xscreensaver-command -deactivate",
	"command_lock": "/usr/bin/xscreensaver-command -lock"
}
