{	
	"y": "j/7RuMmo1LUb3nn11v29IGLXtjEnMAE7heBtddb06Fv8CEtX0ISAMtQhJnGLofE/eNvyrCbWuzq5ZyF8y92PZw==",
	"max_challenge_age": "3",
	"user_name": "fsb1",
	"command_unlock": "dbus-send --type=method_call --dest=org.gnome.ScreenSaver /org/gnome/ScreenSaver org.gnome.ScreenSaver.Unlock",
	"command_lock": "dbus-send --type=method_call --dest=org.gnome.ScreenSaver /org/gnome/ScreenSaver org.gnome.ScreenSaver.Lock"
}
